<div class="dark:bg-night-700 flex-col rounded-lg bg-white px-8 py-8 sm:flex-row">
    <div class="mb-4 flex items-center justify-between">
        <div class="flex-col items-center">
            <h3 class="text-md dark:text-night-50 font-bold text-gray-900">
                Active Workflows
            </h3>
        </div>
        <button class="dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200">
      Create Workflow
    </button>
    </div>

    <div class="relative overflow-x-auto">
        <table class="w-full table-auto">
            <thead class="dark:text-night-300 text-xs uppercase text-gray-400">
                <tr>
                    <th class="py-3 text-left">Name</th>
                    <th class="py-3 text-left">Description</th>
                    <th class="py-3 text-right">Active</th>
                    <th class="py-3 text-right">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableItems" [dataRow]="item" surveys-table-item class="dark:border-night-500 dark:hover:bg-night-600 border-b border-dashed border-gray-200 hover:bg-gray-100"></tr>
            </tbody>
        </table>
    </div>
</div>