<div #canvasContent class="w-24 step">
    <div class="header">
        <span class="w-full text-sm capitalize">{{data.name}} Action</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!flowEnded">
          <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
        <button (click)="onEdit()" mat-menu-item>
          <span>Update Action</span>
        </button>
        <button [disabled]="actionsDisabled" (click)="addCondition()" mat-menu-item>
          <span>Add Condition</span>
        </button>
        <button [disabled]="actionsDisabled" (click)="endTraunch()" mat-menu-item>
          <span>End Traunch</span>
        </button>
        <button (click)="onDelete()" mat-menu-item>
          <span>Delete</span>
        </button>
    </mat-menu>
    <div class="content">
        <div *ngIf="!actionsDisabled">
            <div class="grid grid-cols-1 my-5 gap-x-4 gap-y-2">
                <div class="border-b">
                    Attached Buyer Groups
                </div>
                <div class="text-xs font-medium mt-1.5 capitalize">{{this.buyerGroups}}</div>

            </div>
        </div>
        <nz-alert *ngIf="actionsDisabled" class="my-5 whitespace-pre-wrap" nzType="info" nzMessage="Please configure your buyer groups before adding workflow criteria"></nz-alert>
    </div>
</div>