<div class="relative h-full p-4">
    <h2 mat-dialog-title>
        <span>{{form.get('name').value}}Action Event</span>
    </h2>
    <mat-dialog-content class="mat-typography ">
        <form [formGroup]="form" autocomplete="off" nz-form nzLayout="vertical" (ngSubmit)="onSave()">
            <section class="my-5 mb-20">
                <div class="my-5">
                    <nz-form-item>
                        <nz-form-label nzFor="email">Action Name</nz-form-label>
                        <nz-form-control nzErrorTip="Action name is required">
                            <nz-input-group>
                                <input formControlName="name" type="text" nz-input />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="my-5">
                    <nz-form-item>
                        <nz-form-label nzFor="email">Assign Buyer Group</nz-form-label>
                        <nz-form-control nzErrorTip="API Webhook is required">
                            <nz-select formControlName="buyerGroups" class="w-full" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple" nzPlaceHolder="Please select">
                                <nz-option *ngFor="let item of buyerGroups" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                            </nz-select>
                            <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="my-5">
                    <nz-form-item>
                        <nz-form-label nzFor="email">Buyer Limit</nz-form-label>
                        <nz-form-control nzErrorTip="API Webhook is required">
                            <nz-select formControlName="limit" class="w-full" nzPlaceHolder="Please select">
                                <nz-option *ngFor="let item of limit" [nzValue]="item" [nzLabel]="item"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </section>
        </form>
    </mat-dialog-content>
    <div class="absolute bottom-0 right-5">

        <mat-dialog-actions align="end">
            <button mat-dialog-close class="relative flex justify-center px-4 py-2 mb-10 mr-5 text-sm font-medium text-gray-800 border border-transparent rounded-md bg-gray-50 focus:ring-gray-500 hover:bg-gray-400 group focus:outline-none focus:ring-2 focus:ring-offset-2">
            Cancel
        </button>
            <button (click)="onSave()" class="relative flex justify-center px-4 py-2 mb-10 text-sm font-medium text-white border border-transparent rounded-md bg-primary-500 focus:ring-primary-500 hover:bg-primary-400 group focus:outline-none focus:ring-2 focus:ring-offset-2">
            Save {{form.get('name').value}}
        </button>
        </mat-dialog-actions>
    </div>
</div>