<div #canvasContent class="w-24 step">
    <div class="header">
        <span class="capitalize w-full text-sm">{{ data?.title ? data.title : 'API Webhook' }} Trigger</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
        <button (click)="onSettingsModalTrigger()" mat-menu-item>
          <span>Update API Settings</span>
        </button>
        <button [disabled]="actionsDisabled" (click)="onAdd()" mat-menu-item>
          <span>Add Condition</span>
        </button>
    </mat-menu>
    <div class="w-full whitespace-pre-wrap content">
        <div *ngIf="!actionsDisabled">
            <div class="grid grid-cols-1 my-5 gap-x-4 gap-y-2">
                <div class="border-b">
                    Action
                </div>
                <div class="text-xs font-semibold uppercase">{{data.webhookMethod}}</div>
                <div class="border-b">
                    URL
                </div>
                <div class="text-xs font-semibold whitespace-nowrap">{{data.webhookUrl}}</div>
            </div>
        </div>
        <nz-alert *ngIf="actionsDisabled" class="my-5 text-sm text-center whitespace-pre-wrap" nzType="info" nzMessage="Please configure your API Webhook before adding workflow criteria"></nz-alert>
    </div>
</div>