<div class="relative h-full p-4">
    <h1 mat-dialog-title>
        <span>API Webhook Trigger Settings</span>
    </h1>
    <form [formGroup]="form" autocomplete="off" nz-form nzLayout="vertical" (ngSubmit)="onSave()">
        <mat-dialog-content>
            <div class="grid grid-cols-2 py-5 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">Workflow Name/Description</p>
                    <p class="text-sm">Enter a name and description for this workflow.</p>
                </div>
                <div>
                    <div class="p-4 mb-5 ml-5 rounded-md">
                        <nz-form-item>
                            <nz-form-label nzFor="email">Title</nz-form-label>
                            <nz-form-control nzErrorTip="Title is required">
                                <nz-input-group>
                                    <input formControlName="title" type="text" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="email">Description</nz-form-label>
                            <nz-form-control nzErrorTip="Description is required">
                                <nz-input-group>
                                    <textarea rows="4" formControlName="description" id="description" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 py-5 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">Webhook Trigger URL</p>
                    <p class="text-sm">Configure the target webhook api you want to enable. You'll find the advanced configuration below, in the advanced settings section.</p>
                </div>
                <div>
                    <div class="p-4 mb-5 ml-5 rounded-md">
                        <nz-form-item>
                            <nz-form-label nzFor="email">URL for webhook</nz-form-label>
                            <nz-form-control nzErrorTip="API Webhook is required">
                                <nz-input-group>
                                    <input formControlName="webhookUrl" type="text" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div *ngIf="data.showJSONInput" class="grid grid-cols-2 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">JSON Payload Sent</p>
                </div>
                <div>
                    <div class="p-4 my-5 ml-5 rounded-md">
                        <div>
                            <nz-form-item>
                                <nz-form-label nzFor="email">JSON Input</nz-form-label>
                                <nz-form-control nzErrorTip="Request Body is required">
                                    <textarea rows="4" name="comment" id="comment" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
{
    "firstName": "$firstName"
}
                                    </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                </div>
            </div>

            <div class="grid grid-cols-2 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">Advanced Settings</p>
                </div>
                <div>
                    <div class="p-4 my-5 ml-5 rounded-md">
                        <div class="grid grid-cols-2 gap-x-5">
                            <nz-form-item>
                                <nz-form-label nzFor="email">HTTP Method</nz-form-label>
                                <nz-form-control nzErrorTip="HTTP Method is required">
                                    <nz-input-group>
                                        <nz-select formControlName="webhookMethod" nzAllowClear class="w-full">
                                            <nz-option nzValue="get" nzLabel="GET"></nz-option>
                                            <nz-option nzValue="post" nzLabel="POST"></nz-option>
                                            <nz-option nzValue="patch" nzLabel="PATCH"></nz-option>
                                            <nz-option nzValue="put" nzLabel="PUT"></nz-option>
                                        </nz-select>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzFor="email">HTTP Timeout</nz-form-label>
                                <nz-form-control nzErrorTip="HTTP Timeout is required">
                                    <nz-input-group>
                                        <nz-select formControlName="webhookTimeout" nzAllowClear class="w-full">
                                            <nz-option nzValue="1 min" nzLabel="1 Min"></nz-option>
                                            <nz-option nzValue="1 second" nzLabel="45 Second"></nz-option>
                                            <nz-option nzValue="1 second" nzLabel="30 Second"></nz-option>
                                            <nz-option nzValue="1 second" nzLabel="15 Second"></nz-option>
                                            <nz-option nzValue="1 second" nzLabel="2 Second"></nz-option>
                                            <nz-option nzValue="1 second" nzLabel="1 Second"></nz-option>
                                        </nz-select>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div>
                            <nz-form-item>
                                <nz-form-label nzFor="email">Request body for POST, PUT, and PATCH requests</nz-form-label>
                                <nz-form-control nzErrorTip="Request Body is required">
                                    <textarea formControlName="requestBody" placeholder="parameter1=first_value&parameter2=another_value" rows="4" nz-input></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                </div>
            </div>
            <div class="grid grid-cols-2 py-5 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">Request Headers</p>
                </div>
                <div>
                    <div class="grid grid-cols-2 p-4 my-5 ml-5 rounded-md gap-x-5">
                        <nz-form-item>
                            <nz-form-label nzFor="email">Header Name</nz-form-label>
                            <nz-form-control nzErrorTip="Header Name is required">
                                <nz-input-group>
                                    <input formControlName="headerName" type="text" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="email">Header Value</nz-form-label>
                            <nz-form-control nzErrorTip="Header Value is required">
                                <nz-input-group>
                                    <input formControlName="headerValue" type="text" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 py-5 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">HTTP Authentication</p>
                </div>
                <div>
                    <div class="grid grid-cols-2 p-4 my-5 ml-5 rounded-md gap-x-5">
                        <nz-form-item>
                            <nz-form-label nzFor="email">Basic HTTP authentication username
                            </nz-form-label>
                            <nz-form-control nzErrorTip="HTTP Username is required">
                                <nz-input-group>
                                    <input formControlName="httpAuthUsername" type="text" nz-input />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzFor="email">Basic HTTP authentication password
                            </nz-form-label>
                            <nz-form-control nzErrorTip="HTTP Password is required" nzExtra="We store it in an encrypted form.">
                                <input formControlName="httpAuthPassword" type="password" nz-input />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 py-5 mb-5 divide-x-2 gap-x-5">
                <div>
                    <p class="text-base font-medium">Response Model</p>
                    <p></p>
                </div>
                <div>
                    <div>
                        <ng-container formArrayName="responseModel">
                            <div class="grid grid-cols-2 ml-5 rounded-md gap-x-5" *ngFor="let responseModelForm of responseModel.controls; let i = index">
                                <ng-container [formGroupName]="i">
                                    <nz-form-item>
                                        <nz-form-label nzFor="email">Property Name
                                        </nz-form-label>
                                        <nz-form-control nzErrorTip="API Webhook is required">
                                            <nz-input-group>
                                                <input formControlName="propertyName" type="text" nz-input />
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                        <nz-form-label nzFor="email">Property Data Type
                                        </nz-form-label>
                                        <nz-form-control nzErrorTip="API Webhook is required">
                                            <nz-select formControlName="dataType" nzAllowClear class="w-full">
                                                <nz-option nzValue="string" nzLabel="String"></nz-option>
                                                <nz-option nzValue="number" nzLabel="Number"></nz-option>
                                                <nz-option nzValue="date" nzLabel="Date"></nz-option>
                                                <nz-option nzValue="boolean" nzLabel="Boolean"></nz-option>
                                                <nz-option nzValue="object" nzLabel="Object"></nz-option>
                                                <nz-option nzValue="array" nzLabel="Array"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </ng-container>

                            </div>
                        </ng-container>
                    </div>
                    <div class="ml-5">
                        <nz-form-item>
                            <nz-form-control>
                                <button (click)="add()" nz-button nzType="dashed" type="button" class="add-button" (click)="addField($event)">
                                    <span nz-icon nzType="plus"></span>
                                    Add Property
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <div class="">
            <mat-dialog-actions align="end">
                <button mat-dialog-close class="relative flex justify-center px-4 py-2 mb-10 mr-5 text-sm font-medium text-gray-800 border border-transparent rounded-md bg-gray-50 focus:ring-gray-500 hover:bg-gray-400 group focus:outline-none focus:ring-2 focus:ring-offset-2">
                    Cancel
                </button>
                <button type="submit" class="relative flex justify-center px-4 py-2 mb-10 text-sm font-medium text-white border border-transparent rounded-md bg-primary-500 focus:ring-primary-500 hover:bg-primary-400 group focus:outline-none focus:ring-2 focus:ring-offset-2">
                    Save API Settings
                </button>
            </mat-dialog-actions>
        </div>
    </form>
</div>